<extend name="Public:base" />
<block name="main-title">
	<div class="main-title">
		<h4 class="title-text floatL">订单列表</h4>
		<div class="title-button floatR">
			<a href="#" class="btn btn-danger" onClick="submit('#deleterForm')">
				<i class="glyphicon glyphicon-trash"></i>
				删除选中
			</a>
		</div>
	</div>
</block>
<block name="main-content">
	<div class="main-content">
		<form action="{:U('FinanceOrder/delete')}" method="get" id="deleterForm">
		<div class="border-solid margin-top-10">
			<table class="table margin-bottom-0">
				<thead>
					<tr class="active">
						<th><input type="checkbox" name="id_all"></th>
						<th>编号</th>
						<th>产品名称</th>
						<th>申购人姓名</th>
						<th>申购人手机</th>
                        <th>
                            <span>申购时间</span>
                            <if condition="($_GET['sort_time'] eq 'up') || ($_GET['sort_time'] eq false)">
                                <a href="{:U('FinanceOrder/index',array('sort_time'=>'down'))}">
                            <else/>
                                <a href="{:U('FinanceOrder/index',array('sort_time'=>'up'))}">
                            </if>
                                <i class='<if condition="$_GET['sort_time'] eq 'down'">glyphicon glyphicon-arrow-down<else/>glyphicon glyphicon-arrow-up</if> font12'></i>
                            </a>
                        </th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<volist name="list" id="vo">
						<tr>
							<td><input type="checkbox" name="id[]" value="{$vo['id']}"></td>
							<td>{$vo['id']}</td>
							<td>{$vo['goods_name']}</td>
							<td>{$vo['real_name']}</td>
							<td>{$vo['mobile']}</td>
							<td>{$vo['create_time']}</td>
							<td>
								<a href="{:U('FinanceOrder/detail',array('id'=>$vo['id']))}">
									详情
								</a>|
								<a href="{:U('FinanceOrder/delete',array('id'=>$vo['id']))}">
									删除
								</a>
							</td>
						</tr>
					</volist>
				</tbody>
			</table>
		</div>
		</form>
	</div>
	<div class="page">{$page}</div>
</block>