<extend name="Public:base" />
<block name="main-title">
	<div class="main-title">
		<h4 class="title-text floatL">添加自定义菜单</h4>
		<div class="title-button floatR">
			<a href="#" class="btn btn-danger" onClick="submit('#customMenuForm')">
				<i class="glyphicon glyphicon-ok-sign"></i>
				保存
			</a>
			<a href="{:U('CustomMenu/index')}" class="btn btn-danger">
				<i class="glyphicon glyphicon-share-alt"></i>
				返回列表
			</a>
		</div>
	</div>
</block>
<block name="main-content">
	<div class="main-content">
		<div class="warning warning-tips" role="alert">
		  	<p>1、自定义菜单需要申请公众平台服务号并绑定申请到的appid和secret.服务号可申请此接口权限</p>
		  	<p>2、每个账号一级菜单最多1-3个,二级菜单最多2-5个,最多支持两层</p>
		  	<p>3、自定义菜单每天最多可以同步到微信200次 </p>
		</div>
	</div>
	<form action="{:U('CustomMenu/addCustomMenu')}" method="post" class="form-horizontal" id="customMenuForm">
		<div class="border-dashed">
			<div class="form-group">
				<input type="hidden" name="id" value="{$_GET['id']}">
			    	<label for="parent-menu" class="col-sm-2 control-label">上级菜单：</label>
			    	<div class="col-sm-4">
			      		<select name="parent_menu" id="parent-menu">
			      			<option value="">≡ 作为一级菜单 ≡</option>
			      			<volist name="parent_menu" id="pa">
			      				<option value="{$pa['id']}" <if condition="$menu['parent_id'] eq $pa['id']">selected="selected"</if>>&nbsp;{$pa['menu_name']}</option>
			      				<volist name="pa['subNode']" id="sub">
				      				<option value="{$sub['id']}" <if condition="$menu['parent_id'] eq $sub['id']">selected="selected"</if>>&emsp;|—{$sub['menu_name']}</option>
				      			</volist>
			      			</volist>
			      		</select>
			    	</div>
			</div>
			<div class="form-group">
			    	<label for="menu-type" class="col-sm-2 control-label">点击类型：</label>
			    	<div class="col-sm-4">
			      		<select name="menu_type" id="menu-type">
			      			<option value="click" <if condition="$menu['click_type'] eq 'click'">selected="selected"</if>>≡ 使用回复方式 ≡</option>
			      			<option value="view" <if condition="$menu['click_type'] eq 'view'">selected="selected"</if>>≡ 使用网页链接方式 ≡</option>
			      		</select>
			    	</div>
			</div>
			<div class="form-group">
			    	<label for="menu-name" class="col-sm-2 control-label">菜单名称：</label>
			    	<div class="col-sm-4">
			      		<input type="text" class="form-control" id="menu-name" name="menu_name" value="{$menu['menu_name']}" placeholder="菜单名称">
			    	</div>
			</div>
			<div class="form-group">
			    	<label for="menu-sort" class="col-sm-2 control-label">排序值：</label>
			    	<div class="col-sm-4">
			      		<input type="text" class="form-control" id="menu-sort" name="menu_sort" value="{$menu['menu_sort']}"} value="100">
			    	</div>
			</div>
		</div>
	</form>
</block>