<extend name="Public:base" />
<block name="main-title">
	<div class="main-title">
		<h4 class="title-text floatL">返馈消息列表</h4>
		<div class="title-button floatR">
			<a href="#" class="btn btn-danger" onClick="submit('#deleterForm')">
				<i class="glyphicon glyphicon-trash"></i>
				删除选中
			</a>
		</div>
	</div>
</block>
<block name="main-content">
	<div class="main-content">
		<form action="{:U('Feedback/delete')}" method="get" id="deleterForm">
		<div class="border-solid margin-top-10">
			<table class="table margin-bottom-0">
				<thead>
					<tr class="active">
						<th><input type="checkbox" name="id_all"></th>
						<th>编号</th>
						<th>返馈人联系方式</th>
						<th>返馈内容</th>
						<th>返馈时间 </th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<volist name="list" id="vo">
						<tr>
							<td><input type="checkbox" name="id[]" value="{$vo['id']}"></td>
							<td>{$vo['id']}</td>
							<td>{$vo['contact']}</td>
							<td>{$vo['feed_content']}</td>
							<td>{$vo['create_time']}</td>
							<td>
								<a href="{:U('Feedback/delete',array('id'=>$vo['id']))}">
									删除
								</a>
							</td>
						</tr>
					</volist>
				</tbody>
			</table>
		</div>
		</form>
	</div>
	<div class="page">{$page}</div>
</block>